$fz12:12px;
html,body,div,span,a,p,img{
	padding:0;
	margin:0;
}
body{
	font-size: $fz12;
	font-family: "Microsoft Yahei";
	color:#fff;
}
p{
	font-size: 12px;
	color:#3a9729;
	background:#f00;
}

span{font-size: 12px}
