$fz12:12px;
html,body,div,span,a,p,img{
	padding:0;
	margin:0;
}
body{
	font-size: $fz12;
	font-family: "Microsoft Yahei";
	color:#fff;
}
.demo{
	width: 1200px;
	height: 200px;
	border:1px solid #f00;
}
.header{
	width: 1200px;
	margin:0 auto;
}
.content{
	width: 1200px
	margin:20px auto;
	border:2px solid #3a9729;
}
