$fz12:12px;
html,body,div,span,a,p,img{
	padding:0;
	margin:0;
}
body{
	font-size: $fz12;
	font-family: "Microsoft Yahei";
	color:#fff;
}
.demo{
	width: 1200px;
	height: 200px;
	border:1px solid #f00;
	padding:20px; margin:100px;
}

